:root {
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --primary-color: #222;
    --background-color: #fff;
    --answer-background-color: #575757;
    --border-radius: 15px;
    --transition-duration: 0.3s;
    --flashcard-width: 380px;
    --flashcard-min-height: 600px;
    --content-font-size: 22px;
    --category-font-size: 18px;
    --button-font-size: 18px;
    --spacing-small: 12px;
    --spacing-medium: 20px;
    --spacing-large: 1rem;
}

body {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
}

footer {
    position: absolute;
    bottom: var(--spacing-large);
    right: var(--spacing-large);
}

.flashcard {
    width: var(--flashcard-width);
    max-width: 100%;
    min-height: var(--flashcard-min-height);
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
    padding: var(--spacing-medium);
    box-sizing: border-box;
    position: relative;
}

.flashcard:hover {
    transform: scale(1.05);
}

.card-number, .card-counter {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}

.card-number {
    font-size: var(--category-font-size);
    color: #666;

}

.flashcard-content {
    font-size: var(--content-font-size);
}

.flashcard-choices {
    font-size: var(--category-font-size);
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.flashcard-choices li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.flashcard-category {
    margin-top: var(--spacing-small);
    font-size: var(--category-font-size);
    position: absolute;
    bottom: var(--spacing-large);
    left: var(--spacing-large);
    color: var(--primary-color);
}

.flashcard.answer {
    background-color: var(--answer-background-color);
    color: var(--background-color);
}

.flashcard.answer .flashcard-category {
    color: var(--background-color);
}


button {
    margin-top: var(--spacing-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    font-size: var(--button-font-size);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: calc(var(--border-radius) / 3);
    transition: background-color var(--transition-duration) ease,
                color var(--transition-duration) ease;
}

button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}